# This is a basic workflow to help you get started with Actions

name: app-engine

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest

    steps:
     - uses: actions/checkout@v2
     - name: Setup node environment
       uses: actions/setup-node@v1
       with: 
        node-version: 16.x
     - run: |
          npm i -D
          npm run build || true 

     - name: Upload artifact
       uses: actions/upload-artifact@master
       with:
         name: build
         path: build


  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: build
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@master
      - name: Download artifact
        uses: actions/download-artifact@master
        with:
          name: build
          path: build
      # Runs a single command using the runners shell
      - id: deploy
        uses: google-github-actions/deploy-appengine@main
        with:
          credentials: ${{ secrets.gcp_credentials }}
